<% cache "carousel_inner" do %>
<div class="item active">
  <%= image_tag 'masters.png' %>

  <div class="carousel-caption">
    <h1 class="highlight">Rèn luyện qua các Bài thi</h1>
    <p><b>Mini-VMO, Tập huấn Tổ hợp, Tập huấn Đại Số</b>,.v.v. Hãy tham gia để tích luỹ Ý tưởng và Kinh nghiệm giải Toán!</p>
  </div>
</div>

<div class="item">
  <%= image_tag 'medals.png' %>

  <div class="carousel-caption">
    <h1 class="highlight">Viết tên lên Bảng Vàng</h1>
    <p>HC Vàng Số học, HC Bạc Hình học,.v.v. Bằng thành tích xuất sắc qua các Bài thi, bạn sẽ ghi tên mình lên <b>BXH Toàn Quốc.</b></p>
  </div>
</div>

<div class="item">
  <%= image_tag 'problems.png', width: 281, height: 290 %>

  <div class="carousel-caption">
    <h1 class="highlight">Đào sâu các bài Toán</h1>
    <p>Sau mỗi Bài thi là <b>Lời giải và Bình luận</b> các bài Toán, giúp bạn hiểu sâu hơn về <b>Ý tưởng và Kinh nghiệm</b> được rút ra.</p>
  </div>
</div>
<% end %>