<% provide :title, 'About Us' %>

<div class="container">
  <div class="row">
		<div class="col-md-8 col-md-offset-2">

		  <h1 class="text-center highlight">Về MathPedia</h1>

	  	<div class="row">
				<div class="col-md-6">
				  <h2>Các Master?</h2>
				</div>

				<div class="col-md-6">
				  <h2 class="pull-right">Xây dựng bởi?</h2>
				</div>
	  	</div>

		</div>
  </div>
</div>
