<% provide :title, 'About MathPedia' %>

<div class="container">

  <div class="row">
	<div class="col-md-8 col-md-offset-2">
	  <h1 class="text-center" style="color: #FB503B;">About MathPedia</h1>

	  <div class="row">
		<div class="col-md-8">
		  <h2>What?</h2>
		  <p><b>"A good Olympian never runs out of things to try."</b></p>
		  <p>As the most common reason for being stucked at a problem is <b style="color: #FB503B;">lacking of ideas</b>, we built this site for Olympians to enrich their idea-box in Maths competitions.</p>


	      <h2>Our Ideas</h2>
	      <p>A place for math-bloggers to share good problems and how they solved it. The crowdsourced problems are used for:</p>
	      A magazine that featured <b style="color: #FB503B;">mathematical ideas</b> behind problem-solving.</br>
	      A contest and ranking platform that <b style="color: #FB503B;">better prepare Olympians</b> for Olympiads.
		</div>

		<div class="col-md-4">
		  <h2>Who?</h2>
		  <p><b>Programmer: </b><%= link_to 'Khoa Le', 'https://www.facebook.com/letadangkhoa', target: '_blank' %></p>
		  <p><b>Editor &amp; feature design: </b><%= link_to 'Anh Phung', 'https://www.facebook.com/KellyDosentos', target: '_blank' %></p>
		  <p><b>Editor &amp; research: </b><%= link_to 'Anh Tran', 'https://www.facebook.com/quocanh.math', target: '_blank' %></p>
		  <p>We're about to release the site on November 11th, 2014.</p>
		</div>
	  </div> <!-- end row -->

	</div> <!-- end main -->
  </div> <!-- end row -->

</div>
