<% provide :title, 'About MathPedia' %>

<div class="container">

  <div class="row">
	<div class="col-md-8 col-md-offset-2">
	  <h1 class="text-center" style="color: #FB503B;">About MathPedia</h1>

	  <div class="row">
		<div class="col-md-8">
		  <h2>What?</h2>
		  <p><b>"A good Olympian never runs out of things to try until he made it."</b></p>
		  <p>As the most common reason for being stucked at a problem is <b style="color: #FB503B;">lacking of ideas</b>, we built this site for Olympians to enrich their idea-box in Maths competitions.</p>


	      <h2>Ideas</h2>
	      <p style="color: #FB503B;"><b>"We connect people who love to share with people who love the goods."</b></p>
	      A place for math-bloggers to share nice problems and <b>how they solved it</b>.</br>
	      A magazine that featured nice problems with <b>ideas behind them</b>.</br>
	      A contest and ranking platform that <b>better prepare Olympians</b> for Olympiads.</br>	  
		</div>

		<div class="col-md-4">
		  <h2>Who?</h2>
		  <p><b>Programmer: </b><%= link_to 'Khoa Le', 'https://www.facebook.com/letadangkhoa', target: '_blank' %></p>
		  <p><b>Editor &amp; feature design: </b><%= link_to 'Anh Phung', 'https://www.facebook.com/KellyDosentos', target: '_blank' %></p>
		  <p><b>Editor &amp; research: </b><%= link_to 'Anh Tran', 'https://www.facebook.com/quocanh.math', target: '_blank' %></p>
		</div>
	  </div> <!-- end row -->

	</div> <!-- end main -->
  </div> <!-- end row -->

</div>
