<div class="container">

  <div class="row">

	<div class="col-md-8 col-md-offset-2">
	  <h1 class="text-center" style="color: #FB503B;">MathPedia</h1>
	  <h1 class="text-center">Your best source of </br> Ideas for Mathematical Olympiads.</h1>
	  <%= image_tag 'under_construction.png', class: "img-responsive" %>
	</div>

  </div>
</div>
