<% provide :title, 'Collection of Gems' %>

<div class="container">

  <div class="row">
	<div class="col-md-10 col-md-offset-1">
	  <h1 class="text-center" style="color: #FB503B;">About Library</h1>

	  <div class="row">
		<div class="col-md-6">
		  <h2>What?</h2>
		  <p>Every editor-approved problem will be shown here, whether it is featured in a <b>training contest</b>, or is published to <b>the daily readings</b>.</p> 
		  <p>The problems are <b style="color: #FB503B;">carefully categorized</b> for the public to lookup and refer.</p>
		</div>

		<div class="col-md-6">
		  <h2>Categorizations</h2>
		  <p><b>By types: </b>Easy problems, medium problems and discoveries.</p>
		  <p><b>By topics: </b>From big topics like Algebra and Combinatorics, to small topics like LTE lemma and Double Counting.</p>
		</div>
	  </div> <!-- end row -->

	</div> <!-- end main -->
  </div> <!-- end row -->

</div>
