<% provide :title, 'All Problems' %>

<div class="container">
  <div class="row">
		<div class="col-md-10 col-md-offset-1">

		  <h1 class="text-center highlight">About Library</h1>

		  <div class="row">

				<div class="col-md-6">
				  <h2>What?</h2>
				  <p>Every editor-approved problem will be shown here, after featuring in a <b>training contest</b>.</p> 
				  <p>The problems are <b class="highlight">carefully categorized</b> for the public to lookup and refer.</p>
				</div>

				<div class="col-md-6">
				  <h2>Categorizations</h2>
				  <p><b>By difficulty: </b>Easy, Medium and Hard Problems.</p>
				  <p><b>By domains: </b>From Algebra to Combinatorics, and even Puzzles.</p>
				</div>

		  </div>

		</div>
  </div>
</div>
