<% provide :title, 'Daily Readings' %>

<div class="container">

  <div class="row">
	<div class="col-md-10 col-md-offset-1">
	  <h1 class="text-center" style="color: #FB503B;">About Magazine</h1>

	  <div class="row">
		<div class="col-md-6">
		  <h2>What?</h2>
		  <p>A daily reading of <b style="color: #FB503B;">6 carefully selected problems</b>. Featuring not only solutions but also the process of solving them and what you can learn.</p>
		</div>

		<div class="col-md-6">
		  <h2>Typical content</h2>
		  <p><b>Problems: </b>Problems with its solving process from the author, as well as further comments for you to reflect.</p>
		  <p><b>Discoveries: </b>Problems that has solution inspired by another problem, featuring ideas and other related problems you can try.</p>
		</div>
	  </div> <!-- end row -->

	</div> <!-- end main -->
  </div> <!-- end row -->

</div>
