<% provide :title, 'Training through Contests' %>

<div class="container">
  <div class="row">
		<div class="col-md-10 col-md-offset-1">

		  <h1 class="text-center highlight">About Training</h1>

		  <div class="row">

				<div class="col-md-6">
				  <h2>What?</h2>
				  <p>Every two days, there will be a contest of <b class="highlight">3 problems gearing towards a theme</b>. The goal is to prepare Olympians for future related problems in Competitions.</p> 
				  <p>Results are used to update the Rankings table.</p>
				</div>

				<div class="col-md-6">
				  <h2>Types</h2>
				  <p><b>Mini VMOs: </b>Problems involved various topics, simulating the VMO.</p>
				  <p><b>Domain Training: </b>Problems come from a single topic, such as Combinatorics or Algebra.</p>
				</div>

		  </div>

		</div>
  </div>
</div>
