<% provide :title, "#{@problem.title}: Official Solution" %>

<% cache [@problem, current_user] do %>
<div class="container">
  <div class="row">

    <div class="col-lg-9 col-md-8">
      <div class="content-box">

        <% if is_master? %>
          <div class="text-right">
            <%= link_to 'Edit Solution', edit_problem_path(id: @id, view: 'solution'), "data-no-turbolink" => true %>
          </div>
        <% end %>

        <%= render 'author' %>

        <div class='medium-editor-insert-plugin'><%= @problem.solution.html_safe %></div>

      </div>
    </div>

    <%= render 'sidebar' %>

  </div>
</div>
<% end %>