<div class="modal fade" id="preview_modal" tabindex="-1" role="dialog">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-push-2 col-md-8 col-md-push-2 col-sm-12 col-xs-12">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">PREVIEW</h4>
          </div>

          <div class="modal-body">
            <div class="medium-editor-insert-plugin" id="preview_body"></div>              
          </div>

          <div class="modal-footer">
          	<a data-dismiss="modal" href="#preview-modal" class="btn btn-success">OK, Seen!</a>
          </div>

        </div><!-- /.modal-content -->
      </div><!-- /.responsive -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /.modal -->