<div id="footer">
  <div class="container">
    <p class="text-muted credit">
      Website built in <%= link_to 'Rails', "http://rubyonrails.org", target: '_blank' %>
      by <%= link_to 'The Core Team', about_path %>

      <span class="pull-right">
      	<%= link_to 'https://github.com/blackjack94/mathpedia', title: "Get the Code", target: '_blank' do %>
         	<i class="fa fa-github fa-lg"></i> This site is open-sourced
        <% end %>
      </span>
    </p>
  </div>
</div>
